body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../IMG/Fondo.jpg');
    filter: blur(2px);
    background-size: cover;
    z-index: -1;
}

.navMenu {
    background-color: limegreen;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navMenu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.navMenu li {
    padding: 10px 70px;
}
.navMenu a {
    color: #ff4a4a;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}
.navMenu a:hover {
    color: lightpink;
}

.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background: rgba(255,255,255,0.50);
    border-radius: 10px;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#ruleta {
    display: flex;
    overflow: hidden; /*para que se muestren solo las que están dentro del div visualmente*/
    border: 2px solid #ffffff;
    padding: 10px;
    width: 480px;
    margin: 20px auto;
    justify-content: center;
    gap: 10px;
    font-family: sans-serif;
}


.opcion {
    flex: 0 0 120px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.seleccionada {
    background-color: #4caf50;
    background-image: url('../IMG/JoJos Icono.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-weight: bold;
}

#botonRuleta {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
}

#mensajeResultado {
    font-size: 24px;
    font-weight: bold;
    color: #4caf50;
    text-align: center; /* Centra el mensaje */
    background-color: #ffffff; /* Fondo blanco para resaltar */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para resaltar */
    width: 80%;
    max-width: 500px; /* Ajustar el ancho máximo */
    margin: 20px auto;
}

.resultado-imagen {
    display: block;
    width: 500px;
    height: 500px;
    margin: 20px auto 0 auto;
}

#contenidoExtra {
    margin-top: 20px;
    background-color: #ffffffc0;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    white-space: pre-wrap; /* Para respetar saltos de línea en .txt */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


